:root,
html,
body,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    --text: rgb(15, 15, 15);
    --background: #e3ceb9;
    --border: #76583a;
}

.App {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
}

.resp-box {
    max-height: calc(100vh - 144px);
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.resp-box pre {
    padding: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    display: flex;
}

.top-row .column {
    height: 60px;
    flex-shrink: 0;
}

.bottom-row .column {
    height: 80px;
    flex-shrink: 0;
}

.top-row {
    border-bottom: 2px solid var(--border);
}

.bottom-row {
    border-top: 2px solid var(--border);
}

.middle-row {
    flex-grow: 1;
}

.column {
    flex: 1;
}

.first-column {
    width: 180px;
    flex: none;
    border-right: 2px solid var(--border);
}

.bar-options {
    display: flex;
}

.bar-options div {
    margin-right: 20px;
}

.title, .keys {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.keys {
    width: 100%;
    border: none;
    background-color: var(--background);
    cursor: pointer;
}

.keys:hover {
    background-color: #c5b3a0;
}

.prompt-comps {
    display: flex;
    height: 80px;
}

.prompt-button {
    width: 80px;
    font-size: 30px;
    background-color: #c5b3a0;
}

.prompt-box {
    height: 75px;
    padding: 8px;
    flex-grow: 1;
    background-color: var(--background);
    outline: none;
    font-size: 16px;
    resize: none;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.prompt-button, .prompt-box {
    border: none;
}

.prompt-button {
    border-left: 2px solid var(--border);
}

.model-comps, .eval-comps {
    display: flex;
}