:root,
html,
body,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    --text: rgb(15, 15, 15);
    /* --background: rgb(230, 230, 230);
    --primary: rgb(219, 219, 219);
    --highlight: rgb(175, 175, 175); */
    --background: #e3ceb9;
    --border: #76583a;
}

.App {
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    display: flex;
}

.top-row .column,
.bottom-row .column {
    height: 60px;
    flex-shrink: 0;
}

.top-row {
    border-bottom: 2px solid var(--border);
}

.bottom-row {
    border-top: 2px solid var(--border);
}

.middle-row {
    flex-grow: 1;
}

.column {
    flex: 1;
}

.first-column {
    width: 180px;
    flex: none;
    border-right: 2px solid var(--border);
}

.bar-options {
    display: flex;
}

.bar-options div {
    margin-right: 20px;
}